In [6]:
# Importing libraries
import numpy as np
import pandas as pd
import statsmodels.formula.api as smf
from statsmodels.compat import lzip
import statsmodels.stats.api as sms

In [4]:
new_df = pd.read_csv("orchid_data.csv")
updated_df = new_df[['SUNLIGHT', 'HUMIDITY','ORCHIDS']]
updated_df

        SUNLIGHT  HUMIDITY  ORCHIDS
0      2500.0000  79.00000  1200.00
1      2499.4197  79.00410  1201.75
2      2498.8457  79.00821  1201.75
3      2498.2780  79.01234  1201.75
4      2497.7166  79.01649  1201.75
...          ...       ...      ...
29998  2299.9436  69.93549  1036.25
29999  2299.9556  69.95153  1036.25
30000  2299.9690  69.96762  1036.25
30001  2299.9840  69.98378  1034.25
30002  2300.0000  70.00000  1035.25

[30003 rows x 3 columns]

In [5]:
fit = smf.ols('ORCHIDS ~ HUMIDITY+SUNLIGHT', data=updated_df).fit()
print(fit.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                ORCHIDS   R-squared:                       0.626
Model:                            OLS   Adj. R-squared:                  0.626
Method:                 Least Squares   F-statistic:                 2.514e+04
Date:                Mon, 15 Apr 2024   Prob (F-statistic):               0.00
Time:                        11:21:43   Log-Likelihood:            -1.6001e+05
No. Observations:               30003   AIC:                         3.200e+05
Df Residuals:                   30000   BIC:                         3.201e+05
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept    693.3201      2.593    267.428      0.000     688.239     698.402
HUMIDITY       3.7792      0.039     95.706      0.000       3.702       3.857
SUNLIGHT       0.0401      0.000     99.013      0.000       0.039       0.041
==============================================================================
Omnibus:                      784.303   Durbin-Watson:                   0.001
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              843.188
Skew:                          -0.407   Prob(JB):                    8.02e-184
Kurtosis:                       2.893   Cond. No.                     2.62e+04
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.62e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

In [7]:
names = ['Lagrange multiplier statistic', 'p-value',
         'f-value', 'f p-value']
 
# Get the test result
test_result = sms.het_breuschpagan(fit.resid, fit.model.exog)
 
lzip(names, test_result)

[('Lagrange multiplier statistic', 5268.990312380451),
 ('p-value', 0.0),
 ('f-value', 3195.3919192191124),
 ('f p-value', 0.0)]